dockerized-apps/web-app/.DS_Store
dockerized-apps/web-app/node-webapp/.DS_Store
dockerized-apps/web-app/rust-webapp/.DS_Store
dockerized-apps/web-app/go-webapp/.DS_Store
dockerized-apps/web-app/dotnetcore-webapp/.DS_Store
dockerized-apps/web-app/python-webapp/.DS_Store
dockerized-apps/web-app/java-webapp/.DS_Store
dockerized-apps/.DS_Store
dockerized-apps/web-app/python-webapp/logs/.DS_Store
dockerized-apps/web-app/dotnetcore-webapp/wwwroot/lib/.DS_Store
dockerized-apps/web-app/dotnetcore-webapp/wwwroot/lib/bootstrap/.DS_Store
dockerized-apps/web-app/dotnetcore-webapp/wwwroot/lib/bootstrap/dist/.DS_Store
dockerized-apps/web-app/dotnetcore-webapp/wwwroot/.DS_Store
dockerized-apps/web-app/python-webapp/logs/app.log
dockerized-apps/web-app/rust-webapp/target/*
dockerized-apps/web-app/dotnetcore-webapp/bin/*
dockerized-apps/web-app/dotnetcore-webapp/obj/*
dockerized-apps/web-app/go-webapp/logs/*
dockerized-apps/web-app/rust-webapp/Cargo.lock
dockerized-apps/web-app/rust-webapp/.DS_Store
oci-terraform-solutions/oke-monitoring-prometheus-grafana/terraform.local.tfvars
.DS_Store
oci-terraform-solutions/oke-virtual-nodes/terraform.local.tfvars
oci-terraform-solutions/oke-managed-nodes/terraform.local.tfvars
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/terraform-provider-external_v2.3.5_x5
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/helm/3.0.2/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/helm/3.0.2/darwin_arm64/terraform-provider-helm_v3.0.2_x5
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/http/3.5.0/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/http/3.5.0/darwin_arm64/terraform-provider-http_v3.5.0_x5
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.38.0/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.38.0/darwin_arm64/terraform-provider-kubernetes_v2.38.0_x5
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/terraform-provider-local_v2.5.3_x5
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/terraform-provider-null_v3.2.4_x5
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/terraform-provider-time_v0.13.1_x5
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform/providers/registry.terraform.io/oracle/oci/7.20.0/darwin_arm64/terraform-provider-oci_v7.20.0
oci-terraform-solutions/oke-monitoring-prometheus-grafana/.terraform.lock.hcl
oci-terraform-solutions/oke-monitoring-prometheus-grafana/kubeconfig
oci-terraform-solutions/oke-monitoring-prometheus-grafana/terraform_destroy_runtime.log
oci-terraform-solutions/oke-monitoring-prometheus-grafana/terraform_runtime.log
oci-terraform-solutions/oke-monitoring-prometheus-grafana/terraform.tfstate
oci-terraform-solutions/oke-monitoring-prometheus-grafana/terraform.tfstate.backup
dockerized-apps/web-app/rust-webapp/.DS_Store
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/terraform-provider-external_v2.3.5_x5
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/terraform-provider-local_v2.5.3_x5
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/terraform-provider-null_v3.2.4_x5
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/terraform-provider-time_v0.13.1_x5
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform/providers/registry.terraform.io/oracle/oci/7.20.0/darwin_arm64/terraform-provider-oci_v7.20.0
oci-terraform-solutions/oke-devops-cicd/oke-devops/.terraform.lock.hcl
oci-terraform-solutions/oke-devops-cicd/oke-devops/kubeconfig
oci-terraform-solutions/oke-devops-cicd/oke-devops/terraform_runtime.log
oci-terraform-solutions/oke-devops-cicd/oke-devops/terraform.local.tfvars
oci-terraform-solutions/oke-devops-cicd/oke-devops/terraform.tfstate
oci-terraform-solutions/oke-devops-cicd/oke-devops/terraform.tfstate.backup
oci-terraform-solutions/oke-selfmanaged-nodes/instance-ssh/ssh-private.key
oci-terraform-solutions/oke-selfmanaged-nodes/instance-ssh/ssh-public-key.pub
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/terraform-provider-external_v2.3.5_x5
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/terraform-provider-local_v2.5.3_x5
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/terraform-provider-null_v3.2.4_x5
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/terraform-provider-time_v0.13.1_x5
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform/providers/registry.terraform.io/oracle/oci/7.21.0/darwin_arm64/terraform-provider-oci_v7.21.0
oci-terraform-solutions/oke-selfmanaged-nodes/.terraform.lock.hcl
oci-terraform-solutions/oke-selfmanaged-nodes/kubeconfig
oci-terraform-solutions/oke-selfmanaged-nodes/terraform_destroy_runtime.log
.gitignore
oci-terraform-solutions/oke-selfmanaged-nodes/terraform_runtime.log
oci-terraform-solutions/oke-selfmanaged-nodes/terraform.local.tfvars
oci-terraform-solutions/oke-selfmanaged-nodes/terraform.tfstate
oci-terraform-solutions/oke-selfmanaged-nodes/terraform.tfstate.backup
oci-terraform-solutions/oke-devops-cicd/oke-devops/terraform_destroy_runtime.log
oci-terraform-solutions/oke-ingress-lb/terraform.local.tfvars
oci-terraform-solutions/oke-ingress-lb/terraform_runtime.log
oci-terraform-solutions/oke-ingress-lb/kubeconfig
.gitignore
oci-terraform-solutions/oke-ingress-lb/.terraform.tfstate.lock.info
oci-terraform-solutions/oke-ingress-lb/.terraform.lock.hcl
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.19.0/darwin_arm64/LICENSE
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.19.0/darwin_arm64/README.md
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.19.0/darwin_arm64/terraform-provider-kubectl_v1.19.0
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/external/2.3.5/darwin_arm64/terraform-provider-external_v2.3.5_x5
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/helm/2.17.0/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/helm/2.17.0/darwin_arm64/terraform-provider-helm_v2.17.0_x5
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.38.0/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.38.0/darwin_arm64/terraform-provider-kubernetes_v2.38.0_x5
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.3/darwin_arm64/terraform-provider-local_v2.5.3_x5
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/darwin_arm64/terraform-provider-null_v3.2.4_x5
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/LICENSE.txt
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/hashicorp/time/0.13.1/darwin_arm64/terraform-provider-time_v0.13.1_x5
oci-terraform-solutions/oke-ingress-lb/.terraform/providers/registry.terraform.io/oracle/oci/7.22.0/darwin_arm64/terraform-provider-oci_v7.22.0
oci-terraform-solutions/oke-ingress-lb/k8s/app.yaml
oci-terraform-solutions/oke-ingress-lb/k8s/service.yaml
oci-terraform-solutions/oke-ingress-lb/terraform.tfstate
oci-terraform-solutions/oke-ingress-lb/terraform.tfstate.backup
oci-terraform-solutions/oke-devops-cicd/oke-devops/node-pool-options.json
dockerized-apps/web-app/go-webapp/main
oci-terraform-solutions/oke-ingress-lb/terraform_destroy_runtime.log
