<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Flask Web App</title>
    </head>

    <body>
        <center>
            <h1>Welcome to the Python Web App!</h1>
            <img src="https://www.python.org/static/img/python-logo.png" alt="Python Logo" width="200">
            <h2>Server Information</h2>
            <p>This web application is running on a Python Flask server.</p>
            <p>It is designed to demonstrate a simple web application using Python and Flask.</p>
            <h4>Server Name: {{ server_name }}</h4>
            <h4>IP Address: {{ server_ip }}</h4>
        </center>
    </body>
    
    </html>