<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Web App</title>
</head>
<body>
    <center>
    <h1>Welcome to the Node.js Web App!</h1>
    <img src="https://nodejs.org/static/images/logo.svg" alt="Node.js Logo" width="200">
    <h2>Server Information</h2>
    <p>This web application is running on a Node.js server.</p>
    <p>It is designed to demonstrate a simple web application using Node.js and Express.</p>
    <h4>Server Name: <%= serverName %></h4>
    <h4>IP Address: <%= serverIP %></h4>
    </center>
</body>
</html>
